<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>@ViewBag.Title - Al-omeri Admin</title>
    @Styles.Render("~/Content/css/bootstrap.min.css ")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/ionicons.min.css")
    @Styles.Render("~/Content/css/AdminLTE.min.css")
    @Styles.Render("~/Content/css/skin-blue.min.css")
    @Styles.Render("~/Content/css/bootstrap-rtl.min.css")




</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <!--header-->

        @Html.Partial("_PartialLayoutWebsiteForAdminAR/_PartialLayoutWebsiteForAdminAR_Header")

        <!--محتويات  جزء الراس من الصفحة -->
        <!--/header-->
        <!-- sidebar-->
        @Html.Partial("_PartialLayoutWebsiteForAdminAR/_PartialLayoutWebsiteForAdminAR_LeftSide")
        <!-- /sidebar-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Page Header
                    <small>Optional description</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>





        <!--Footer-->
        @Html.Partial("_PartialLayoutWebsiteForAdminAR/_PartialLayoutWebsiteForAdminAR_Footer")
        @Html.Partial("_PartialLayoutWebsiteForAdminAR/_PartialLayoutWebsiteForAdminAR_ControlSidebar")


        <!--/Footer-->
        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/Scripts/js/jquery-2.2.3.min.js")
    @Scripts.Render("~/Scripts/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/js/app.min.js")

    <!--// RenderSection("scripts", required: false)-->

</body>
</html>
