<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Al-omeri</title>
    @Styles.Render("~/Content/css/bootstrap.min.css ")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/prettyPhoto.css")
    @Styles.Render("~/Content/css/price-range.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/main.css")
    @Styles.Render("~/Content/css/responsive.css")
   
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    
    
  
</head>
<body>
    <!--header-->
    <header id="header">
        @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_HeaderTop")
        @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_HeaderMiddle")
        @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_HeaderBottom")
        <!--محتويات  جزء الراس من الصفحة -->

    </header>
    <!--/header-->
    @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_Sslider")
    <section>
        <div class="container">
            <div class="row">
                <!--محتويات الصفحة  -->
                <!--left-sidebar استدعاء هنا   -->
                @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_LeftSidebar")
                <div class="col-sm-9 padding-right">

                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    
         <footer id="footer">
            <!--Footer-->
             @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_FooterTop")
             @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_FooterMiddle")
             @Html.Partial("_PartialLayoutWebsiteForVisitorEN/_PartialLayoutWebsiteForVisitorEN_FooterBottom")
           
        </footer>
        <!--/Footer-->

    

    @Scripts.Render("~/Scripts/js/jquery.js" )
    @Scripts.Render("~/Scripts/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/js/jquery.scrollUp.min.js")
    @Scripts.Render("~/Scripts/js/price-range.js")
    @Scripts.Render("~/Scripts/js/jquery.prettyPhoto.js")
    @Scripts.Render("~/Scripts/js/main.js")
      <!--// RenderSection("scripts", required: false)-->
</body>
</html>
